<html>
    <body>
        <p>Dear @Model.Email!</p>
        <p>
            Please follow this link: <a href="@Model.PasswordResetUrl">@Model.PasswordResetUrl</a> 
            to reset your password.
        </p>
        <p>
            Best regards,<br/>
            RETASK team
        </p>
    </body>
</html>