<html>
    <body>
        <p>Dear @Model.Email!</p>
        <p>
            Please follow this link: <a href="@Model.ConfirmationUrl">@Model.ConfirmationUrl</a> 
            to activate your account. If you have no idea why this message arrived, please just 
            ignore it.
        </p>
        <p>
            Best regards,<br/>
            RETASK team
        </p>
    </body>
</html>