<html>
    <body>
        <p>Dear @Model.Email!</p>
        <p>
            Welcome to RETASK. Here's a link: <a href="@Model.RootUrl">@Model.RootUrl</a>
        </p>
        <p>
            Best regards,<br/>
            RETASK team
        </p>
    </body>
</html>