<div class="container">
    <div class="row">
        <div class="span12">
            <h2>Disclaimer</h2>
            <p>
                This web page represents a document, "Disclaimer", that describes the status of this web site, 
                <a href="http://retask.me" target="_blank">http://retask.me</a>, sub-domains, and 
                any associated web-based and mobile applications (collectively, "Retask").
            </p>
            <p>
                <strong>
                    If you're not agree to any terms described on this page, you must stop using Retask immediately.
                </strong>
            </p>
            <hr/>
            <h3>What it is</h3>
            <p>
                Retask is not a business, there's no legal entity behind. Retask is a 
                "just for fun" project built and operated by <a href="http://agibalov.io" target="_blank">Andrey Agibalov</a>.
            </p>
            <hr/>
            <h3>Guarantees</h3>
            <p>
                There are absolutely no guarantees provided by Retask:
            </p>
            <ul>
                <li>It's not guaranteed that Retask will be available a minute later, tomorrow or next year.</li>
                <li>It's not guaranteed that Retask will function as users expect.</li>
                <li>It's not guaranteed that user accounts (and associated data) are preserved.</li>
            </ul>
            <p>
                Sure, we'll do our best to keep Retask and user data available, but still it's not guaranteed.
            </p>
            <hr/>
            <h3>Privacy</h3>
            <p>
                Retask itself stores all the data you provide. This data is only used for internal system 
                operations and its optimization. This data never goes to any 3rd party services.
            </p>
            <p>
                <strong>We use cookies</strong>. We need them to distinguish multiple simultaneous users.
            </p>
            <p>
                We use 3rd party services. It's likely that they also use cookies.
            </p>
            <hr/>
            <p>
                <strong>
                    This document can be changed at any time. The most recent version can always be found
                    right on this page.
                </strong>
            </p>
            <p>
                Any questions or concerns you have, feel free to contact <strong>support(at)retask.me</strong>
            </p>
        </div>
    </div>
</div>
