<div class="jumbotron">
    <div class="container">
        <img src="@Url.Content("~/Content/todo.png")" />
    </div>
</div>
<div class="calltoaction">
    <div class="container">
        <div class="row">
            <div class="span12 text-center">
                <p class="lead">
                    The never seen before ultimate getting things done solution.<br/>
                    Get things done right now. It's free.
                </p>
                <p>
                    <a href="@Url.Action("SignUp", "Account")" class="btn btn-large btn-green">Sign Up</a>
                    <a href="@Url.Action("SignIn", "Account")" class="btn btn-large btn-green">Sign In</a>
                </p>
            </div>
        </div>
    </div>
</div>
