@model WebApp.Models.ForgotPasswordModel

@{
    Layout = "~/Views/Shared/Message.cshtml";
}

@section Message
{
    <p class="lead">
        <strong>We have sent a password reset link to @Model.Email</strong><br/>
        Give it few minutes to arrive, then check your inbox and follow the link to change your password.
    </p>    
}