<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="mailSettings" type="Service.Infrastructure.Mail.Configuration.MailSettingsConfigurationSection, Service" />
  </configSections>
  <connectionStrings>
    <add name="TodoConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=WIN7DEV-HOME;Initial Catalog=TodoDB;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=qwerty;MultipleActiveResultSets=True" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="EnableNotifications" value="false" />
    <add key="RootUrl" value="http://win7dev-home/WebApp/" />
    <add key="SignUpConfirmationUrlTemplate" value="http://win7dev-home/WebApp/Account/Confirm/?secret={0}" />
    <add key="ResetPasswordUrlTemplate" value="http://win7dev-home/WebApp/Account/Reset/?secret={0}" />
    <add key="SessionTtlSeconds" value="600" />
  </appSettings>
  <mailSettings>
    <senders>
      <add name="SignUpConfirmationEmailSender" host="smtp.gmail.com" port="25" login="loki2302.todoapp" password="badpassword" ssl="true" from="loki2302.todoapp@gmail.com" />
      <add name="WelcomeEmailSender" host="smtp.gmail.com" port="25" login="loki2302.todoapp" password="badpasswordd" ssl="true" from="loki2302.todoapp@gmail.com" />
      <add name="ResetPasswordEmailSender" host="smtp.gmail.com" port="25" login="loki2302.todoapp" password="badpassword" ssl="true" from="loki2302.todoapp@gmail.com" />
    </senders>
  </mailSettings>
  <system.web>
    <trust level="Full" />
    <compilation debug="false" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="On" defaultRedirect="~/Error" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>