<div class="todo" ng-class="getStatusClass()">
    <markdown data="model.TaskDescription"></markdown>
    <ng-switch on="model.TaskStatus">
        <div ng-switch-when="0">
            <button class="btn btn-inverse" ng-click="startClicked()">Start</button>
            <button class="btn btn-inverse" ng-click="editClicked()">Edit</button>
            <button class="btn btn-inverse" ng-click="wontDoClicked()">Won't do</button>
        </div>
        <div ng-switch-when="1">
            <button class="btn btn-inverse" ng-click="postponeClicked()">Postpone</button>
            <button class="btn btn-inverse" ng-click="editClicked()">Edit</button>
            <button class="btn btn-inverse" ng-click="doneClicked()">Done</button>
        </div>
        <div ng-switch-when="2">
            <button class="btn btn-inverse" ng-click="notDoneClicked()">Not done</button>
            <button class="btn btn-inverse" ng-click="editClicked()">Edit</button>
            <button class="btn btn-inverse" ng-click="completeClicked(model)">Complete</button>
        </div>
    </ng-switch>
</div>
